<?xml version="1.0"?>
<robot name="adap2e" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="adap2e_ros2_control" params="model mode prefix base_name">

    <xacro:include
      filename="$(find romea_mobile_base_description)/ros2_control/base4WS4WD.ros2_control.xacro" />

    <xacro:property name="conf" value="$(find adap2e_description)/config/adap2e_${model}.yaml" />
    <xacro:property name="props" value="${load_yaml(conf)}" />


    <!-- Joint names -->
    <xacro:property name="front_left_wheel_steering_joint"
      value="${props['joints']['front_left_wheel_steering_joint_name']}" />
    <xacro:property name="front_right_wheel_steering_joint"
      value="${props['joints']['front_right_wheel_steering_joint_name']}" />
    <xacro:property name="rear_left_wheel_steering_joint"
      value="${props['joints']['rear_left_wheel_steering_joint_name']}" />
    <xacro:property name="rear_right_wheel_steering_joint"
      value="${props['joints']['rear_right_wheel_steering_joint_name']}" />
    <xacro:property name="front_left_wheel_spinning_joint"
      value="${props['joints']['front_left_wheel_spinning_joint_name']}" />
    <xacro:property name="front_right_wheel_spinning_joint"
      value="${props['joints']['front_right_wheel_spinning_joint_name']}" />
    <xacro:property name="rear_left_wheel_spinning_joint"
      value="${props['joints']['rear_left_wheel_spinning_joint_name']}" />
    <xacro:property name="rear_right_wheel_spinning_joint"
      value="${props['joints']['rear_right_wheel_spinning_joint_name']}" />

    <!-- Geometry -->
    <xacro:property name="wheelbase"
      value="${props['geometry']['axles_distance']}" />
    <xacro:property name="front_track"
      value="${props['geometry']['front_axle']['wheels_distance']}" />
    <xacro:property name="rear_track"
      value="${props['geometry']['rear_axle']['wheels_distance']}" />
    <xacro:property name="front_wheel_radius"
      value="${props['geometry']['front_axle']['wheels']['radius']}" />
    <xacro:property name="rear_wheel_radius"
      value="${props['geometry']['rear_axle']['wheels']['radius']}" />
    <xacro:property name="maximal_wheel_steering_angle"
      value="${props['wheels_steering_control']['command']['maximal_angle']}" />
    <xacro:property name="maximal_wheel_speed"
      value="${props['wheels_speed_control']['command']['maximal_speed']}" />


    <!-- simulation plugins -->
    <xacro:if value="${'simulation' in mode}">
      <xacro:if value="${'gazebo' in  mode}">
        <xacro:property
          name="simulation_hardware_plugin"
          value="romea_mobile_base_gazebo/GazeboSystemInterface4WS4WD" />
      </xacro:if>

      <xacro:if value="${'4dv' in  mode or 'isaac' in mode}">
        <xacro:property
          name="simulation_hardware_plugin"
          value="romea_mobile_base_simulation/GenericSimulationSystemInterface4WS4WD" />
      </xacro:if>
    </xacro:if>

    <xacro:if value="${mode ==  'live'}">
      <xacro:property
        name="live_hardware_plugin"
        value="adap2e_hardware/Adap2eHardware" />
    </xacro:if>

    <xacro:base_control mode="${mode}" base_name="${base_name}" />

  </xacro:macro>

</robot>