<?xml version="1.0"?>
<robot name="adap2e" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="adap2e_ros2_control" params="model mode prefix base_name">

    <xacro:include filename="$(find romea_mobile_base_description)/ros2_control/base4WS4WD.ros2_control.xacro" />

    <xacro:property name="conf" value="$(find adap2e_description)/config/adap2e_${model}.yaml" />
    <xacro:include filename="$(find adap2e_description)/urdf/adap2e_properties.xacro" />

    <xacro:if value="${mode == 'simulation_gazebo'}">
      <xacro:property
        name="hardware_plugin"
        value="romea_mobile_base_gazebo/GazeboSystemInterface" />        
    </xacro:if>

    <xacro:if value="${mode == 'simulation_gazebo_classic'}">
      <xacro:property
        name="hardware_plugin"
        value="romea_mobile_base_gazebo/GazeboSystemInterface4WS4WD" />
    </xacro:if>

   
    <xacro:if value="${'4dv' in mode or 'isaac' in mode}">
      <xacro:property
        name="hardware_plugin"
        value="romea_mobile_base_simulation/GenericSimulationSystemInterface" />
    </xacro:if>

    <xacro:if value="${mode ==  'live'}">
      <xacro:property
        name="hardware_plugin"
        value="adap2e_hardware/Adap2eHardware" />
    </xacro:if>

    <xacro:base_control
      mode="${mode}"
      base_name="${base_name}"
      hardware_plugin="${hardware_plugin}" />

  </xacro:macro>

</robot>
