<?xml version="1.0"?>
<robot name="adap2e" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="adap2e" params="model mode prefix">

    <xacro:include filename="$(find romea_common_description)/urdf/inertia.xacro" />
    <xacro:include filename="$(find romea_mobile_base_description)/urdf/base4WS4WD.chassis.xacro" />
    <xacro:include filename="$(find adap2e_description)/urdf/visual/chassis.xacro" />
    <xacro:include filename="$(find adap2e_description)/urdf/visual/wheels.xacro" />
    <xacro:include filename="$(find adap2e_description)/urdf/visual/arms.xacro" />

    <xacro:property name="conf" value="$(find adap2e_description)/config/adap2e_${model}.yaml" />
    <xacro:include filename="$(find adap2e_description)/urdf/adap2e_properties.xacro" />

    <xacro:chassis>
      <chassis_visuals>
        <xacro:chassis_visual />
      </chassis_visuals>
      <xacro:front_left_arm_visual />
      <xacro:front_right_arm_visual />
      <xacro:rear_left_arm_visual />
      <xacro:rear_right_arm_visual />
      <xacro:front_left_wheel_visual />
      <xacro:front_right_wheel_visual />
      <xacro:rear_left_wheel_visual />
      <xacro:rear_right_wheel_visual />
    </xacro:chassis>

  </xacro:macro>

</robot>