<?xml version='1.0' encoding='utf-8'?>
<robot name="adap2e_slim" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="prefix" value="" />
  <xacro:include filename="$(find adap2e_description)/urdf/adap2e.xacro" />
  <xacro:adap2e model="slim"/>

  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
    <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    <legacyModeNS>false</legacyModeNS>
    </plugin>
  </gazebo>
</robot>
